@{
    ViewData["Title"] = "Home Page";
}
<script>
    setTimeout("location.href = '/Clientes/Gerenciar'", 5000);
</script>
<div class="text-center">
    <h1 class="display-4">BEM VINDO AO TESTE DO WPS</h1>
    <p>WPS=> wellington previatti da silva</p>
</div>
